.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #f9f9f9;
    background-color: #1a1a1a;
}

.error h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.error p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}