.header-container {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #000;
    margin: auto;
    padding: 15px;
}

.hero-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-header > button {
    margin-top: 0;
}