.footer {
  background-color: var(--primary-color);
  color: white;
  padding: 3rem 3rem 1rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.footer-logo span {
  font-size: 1.8rem;
  font-weight: 600;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.footer-column {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  margin-bottom: 1.5rem;
}

.footer-column h4 {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.social-container{
  display: flex;
  justify-content: center;
  background-color: #000;
  max-width: 50px;
}

.social {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  margin-left: 15px;
}

.footer-column a {
  display: block;
  color: #ccc;
  text-decoration: none;
  margin-bottom: 0.8rem;
  transition: color 0.3s ease;
}

.footer-column a:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  padding-top: 1.5rem;
  border-top: 1px solid #444;
}

.footer-bottom p {
  margin-bottom: 0;
  color: #aaa;
  font-size: 0.9rem;
}

/* In footer.css */
@media (max-width: 768px) {
  .footer-links {
    flex-direction: column;
  }
  
  .footer-column {
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .footer-logo {
    justify-content: center;
  }
}